@model PaginatedList<Studentenbeheer.Areas.Identity.Data.ApplicationUserViewModel>

@using Microsoft.AspNetCore.Mvc.Localization


@{
    
    string VerticaalStreepje = " | ";
}

<h1></h1>


<table class="table">
<form asp-controller="Users" asp-action="Index" method="get">
    <thead>
        <tr>
            <th>
                Gebruikersnaam
            </th>
            <th>
                Voornaam
            </th>
            <th>
                Familienaam
            </th>
            <th>
               Email
            </th>            
            <th>
               Telefoonnummer
            </th>
            <th>
                Buitengesloten
            </th>
            <th colspan=3 class="align-content-center">Roles</th>
            <th></th>
        </tr>
        <tr>
            <th>
                <input type="text" name="userName" value=@ViewData["userName"] >
            </th>
            <th colspan=2 class="align-content-center">
                <input type="text" name="name" value=@ViewData["name"] >
            </th>
            <th>
                 <input type="text" name="email" value=@ViewData["email"] >
            </th>
            <th></th>
            
            <th>
                <input type="submit" value="Filter" >
            </th>
        </tr>
    </thead>
     </form>
    <tbody>

@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td class="align-content-center">
                @Html.DisplayFor(modelItem => item.Lockout)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Admin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Docent)
            </td>
          @if (User.IsInRole("Admin"))
           {
            <td>
                @if (!item.Lockout)
                {
                    <a asp-action="Locking" asp-route-id="@item.Id">Lock</a> @VerticaalStreepje
                }
                else
                {
                    <a asp-action="Locking" asp-route-id="@item.Id">Unlock</a> @VerticaalStreepje
                }
                <a asp-action="Roles" asp-route-id="@item.Id">Roles</a>
            </td>
            }
        </tr>
}
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-userName=@ViewData["userName"] 
   asp-route-email=@ViewData["email"]
   asp-route-name=@ViewData["name"]
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   class="btn btn-default @prevDisabled">
   Previous
</a>
<a asp-action="Index"
   asp-route-userName=@ViewData["userName"] 
   asp-route-name=@ViewData["name"]
   asp-route-email=@ViewData["email"]
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   class="btn btn-default @nextDisabled">
   Next
</a>